<mat-toolbar id="headerToolbar">
  <div style="flex-grow: 5;">
    <span id="titleWebsite"><img src="assets/img/logo.png" width="30px" style="margin-top: 10px" /> <a href="/"
        style="text-decoration: none; color: brown">The Consulting Company</a></span>
    <br>
    <mat-form-field class="languageSelector">
      <mat-select [(value)]="userSelectedLanguageValue.code" (selectionChange)="onLanguageSelected($event.value)">
        <mat-option [value]="lang.code" *ngFor="let lang of languages">{{lang.languagename}}</mat-option>
      </mat-select>
    </mat-form-field>


  </div>
  <div style="flex-grow: 1;" *ngIf="!adminLoggedIn">
    <span><a [routerLink]="" (click)="showAdminAgentPage()"
        id=adminsectionLink>{{uiString.get("appAgentSectionMenutitle")}}</a></span>
  </div>
  <div style="flex-grow: 1;" *ngIf="adminLoggedIn">
    <span><a href="/admin-logout" id=adminsectionLink>{{uiString.get("appLogoutButtonMenutitle")}} </a></span>
  </div>
</mat-toolbar>

<div>
  <router-outlet></router-outlet>
</div>

<mat-toolbar class="footer-section">
  <mat-toolbar-row>
    <span>Made with </span>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="heart icon"
      style="margin-left: 5px; height:14px;font-size: 14px;">favorite</mat-icon>
    <span>by a.dridi (github.com/a-dridi)</span>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <li class="footer-links">
      <ul><a href="/general-notice">{{uiString.get("appGeneralnoticeFootertitle")}}</a></ul>
      <ul><a href="/privacy-policy">{{uiString.get("appPrivacypolicyFootertitle")}}</a></ul>
      <ul><a href="/contact">{{uiString.get("appContactFootertitle")}}</a></ul>
    </li>
  </mat-toolbar-row>
</mat-toolbar>