<div>
<br>
<mat-card class="container-appointment-main">
    <section class="mat-typograhy">
        <h3>Add new appointment</h3>
    </section>
    <mat-divider></mat-divider>
    <br>
    <form [formGroup]="createForm" class="create-form">
        <div fxLayout="row" class="field-full-width">
            <mat-form-field>
                <input matInput [ngxTimepicker]="timepicker" [format]="24" placeholder="Time">
            </mat-form-field>
            <ngx-material-timepicker (timeSet)="updateTime($event)" #timepicker></ngx-material-timepicker>
            <mat-form-field>
                <mat-label>Date of the appointment</mat-label>
                <input matInput [matDatepicker]="picker" placeholder="Date of the appointment" formControlName="date" #date>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker touchUi #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <mat-form-field class="field-full-width">
            <input matInput placeholder="Name of the appointment" formControlName="name" #name>
        </mat-form-field>
        <mat-form-field class="field-full-width">
            <input matInput placeholder="Description of the appointment" formControlName="description" #description>
        </mat-form-field>
        <mat-form-field class="field-full-width">
            <input matInput placeholder="Rate of the appointment in $ (USD) - Default: 1 USD" formControlName="rate" #rate>
        </mat-form-field>
        <mat-divider>
        </mat-divider>
        <br>
        <br>
        <button type="submit" (click)="addAppointment(date.value, name.value, description.value, rate.value)" [disabled]="createForm.pristine || createForm.invalid" mat-raised-button color="primary" class="button-submit-appointment">Save appointment</button>
        <button mat-raised-button color="accent" routerLink="/allappointments">Back</button>
    </form>
</mat-card>
</div>