<div id="content-container">
    <h3>{{uiString.get("privacypolicySiteHeader")}}</h3>
    <br>
    <br>
    <p>This application does save the following information into a MongoDB database: IP-Address, Username, Full Name,
        Email, Telephone and the accessed time</p>
    <p>this app is for demo usage and no data is processed for any real usage such as booking. </p>
    <br>
    <p>Please check also the privacy policy of third parties that are used in this web application: </p>
    <p>
        <a href="https://www.paypal.com/webapps/mpp/ua/privacy-full">Paypal Privacy Policy</a>
        <a href="https://www.salesforce.com/company/privacy/">Salesforce Heroku Privacy Policy</a>
        <a href="https://www.mongodb.com/cloud/trust">MongoDB Privacy Policy</a>
        <a href="https://policies.google.com/privacy?hl=en-US">Google Privacy Policy</a>
    </p>
    <br>
    <br>
    <p>This is a demo application and not a real application or company. Booked Appointments are NOT PROCCESSED. You can
        test payment with a Paypal Sandbox account. If you do spam or do any abuse and then your access WILL BE BLOCKED
        and you will have LEGAL CONSEQUENCES. </p>
    <br>
    <br>
    <br>
    <br>
</div>