<div>
    <mat-card class="container-appointment-main">
        <div *ngIf="adminUserAuthenticated">
            <button mat-raised-button color="orange" routerLink="/create">
                <mat-icon aria-label="Add icon">add_box</mat-icon> {{uiString.get("listAddnewappointmentButton")}}
            </button>
            <button mat-raised-button color="orange" routerLink="/admin" style="margin-left: 25px;">
                <mat-icon aria-label="Dashboard icon">dashboard</mat-icon> {{uiString.get("listAdmindashboardButton")}}
            </button>
            <br>
            <br>
            <mat-divider></mat-divider>
        </div>
        <br>
        <table mat-table [dataSource]="appointments">
            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef class="main-column-appointment">{{uiString.get("listTableDateHeader")}} </th>
                <td mat-cell *matCellDef="let element" class="main-column-appointment">
                    {{element.date | date: "dd.MM.yyyy HH:mm"}}</td>
            </ng-container>
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>{{uiString.get("listTableAppointmentNameHeader")}}</th>
                <td mat-cell *matCellDef="let element"> {{element.name}}</td>
            </ng-container>
            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef>{{uiString.get("listTableDescriptionHeader")}}</th>
                <td mat-cell *matCellDef="let element"> {{element.description}}</td>
            </ng-container>
            <ng-container matColumnDef="rate">
                <th mat-header-cell *matHeaderCellDef>{{uiString.get("listTableRateHeader")}}</th>
                <td mat-cell *matCellDef="let element"> {{element.rate}} {{element.currency}}</td>
            </ng-container>

            <ng-container matColumnDef="book">
                <th mat-header-cell *matHeaderCellDef class="main-column-appointment">{{uiString.get("listTableBooknowHeader")}}</th>
                <td mat-cell *matCellDef="let element"> <button mat-button color="blue"
                        (click)="bookAppointment(element._id)">{{uiString.get("listTableBooknowButton")}}</button></td>
            </ng-container>

            <ng-container matColumnDef="edit-delete" *ngIf="adminUserAuthenticated">
                <th mat-header-cell *matHeaderCellDef class="mat-column-right">{{uiString.get("listTableEditdeleteHeader")}}</th>
                <td mat-cell *matCellDef="let element" class="mat-column-right">
                    <button mat-button color="primary" (click)="editAppointment(element._id)">{{uiString.get("listTableEditButton")}}</button>
                    <button mat-button color="warn" (click)="deleteAppointment(element._id)">{{uiString.get("listTableDeleteButton")}}</button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="appointmentColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: appointmentColumns;"></tr>

        </table>

        <div *ngIf="appointments.length < 1">
            <h4 style="text-align: center; margin-top: 10px;">{{uiString.get("listNoAppointments")}}</h4>
        </div>

    </mat-card>


</div>