<div class="card-container-centered">
    <mat-card class="payment-successfull-header">
        <h4>{{uiString.get("paymentsucessSiteHeader")}}</h4>
    </mat-card>
    <mat-divider></mat-divider>
    <mat-card>
        <div class="field-full-width">
            {{uiString.get("paymentsucessSiteSubtext").replace("_%_",""+this.bookedappointment._id)}}
        </div>
        <br />
        <mat-divider></mat-divider>
        <br />
        <div class="field-full-width" style="font-weight: bold">
            <mat-label>{{uiString.get("bookTableTimedateHeader")}} </mat-label>
            <h4>{{bookedappointment.date | date: "HH:mm - dd.MM.yyyy"}}</h4>
        </div>

        <div class="field-full-width">
            <mat-label>{{uiString.get("paymentsucessNameHeader")}} </mat-label>
            <h4>{{bookedappointment.name}}</h4>
        </div>

        <div class="field-full-width">
            <mat-label>{{uiString.get("paymentsucessDescriptionHeader")}} </mat-label>
            <h4>{{bookedappointment.description}}</h4>
        </div>

        <div class="field-full-width">
            <mat-label>{{uiString.get("paymentsucessRateHeader")}} </mat-label>
            <h4>{{bookedappointment.rate}} {{bookedappointment.currency}}</h4>
        </div>
        <br />
        <button mat-raised-button color="accent" routerLink="/" class="button-back">< {{uiString.get("paymentsucessBackButton")}}</button>
                <button mat-raised-button color="primary" onclick="window.print(); "><i class="fa fa-print" aria-hidden="true"></i> {{uiString.get("paymentsucessPrintButton")}}</button>

    </mat-card>
</div>