<div class="mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body" [@errorSwiggle]="loginFailed">
            <h1 class="text-center mb-3"><i class="fas fa-sign-in-alt"></i> {{uiString.get("adminloginSiteHeader")}}</h1>
            <div class="alert alert-warning alert-dismissible" *ngIf="loginFailed">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <h3>{{ message }}</h3>
            </div>

            <form [formGroup]="loginForm" class="login-form">
                <div class="form-group">
                    <label for="email">{{uiString.get("adminloginFormEmail")}} </label>
                    <br>
                    <input matInput (keyup)="loginFailed=false" type="email" class="inputForm" id="email" formControlName="email" #email>
                </div>
                <div class="form-group">
                    <label for="password">{{uiString.get("adminloginFormPassword")}} </label>
                    <br>
                    <input matInput (keyup)="loginFailed=false" type="password" class="inputForm" id="password"
                        formControlName="password" #password>
                </div>
                <button type="submit" (click)="loginadmin(email.value, password.value)"
                    mat-raised-button color="primary" class="button-submit-login">{{uiString.get("adminloginFormLoginButton")}}</button>

            </form>
            <br>
            <br>
            <p class="lead mt-4" *ngIf="!adminAccountCreated">
                {{uiString.get("adminloginNoAdminAccountCreatedText")}} <a href="/admin-registration">{{uiString.get("adminloginRegisterLink")}}</a>
            </p>
        </div>
    </div>
</div>
<br>
<br>