.edit-form {
    min-width: 150px;
    width: 100%;
}

.field-full-width {
    width: 100%;
}

.button-submit-appointment{
    margin-right: 10px;
}

.container-appointment-main {
    display: inherit;
}

.inputForm {
    background: aliceblue;
    padding: 5px;
}