<br>
<h3 style="margin-left: 10px">Contact</h3>
<br>
<div #mapContainer id="contact-map"></div>
<br>
<div class="content-container">
    <h5 style="font-weight: bold; text-align: center;">Contact details</h5>
    <br>
    <br>
    <div class="contact-details">
        <div class="contact-address">
            <div class="contact-row-left"><i class="fas fa-home"></i></div>
            <div class="contact-row-right">
                <ul class="makeBlock">
                    <li class="makeBlock">The Consulting Company </li>
                    <li class="makeBlock">Street 00 </li>
                    <li class="makeBlock">City 00 </li>
                    <li class="makeBlock">County 00 </li>
                    <li class="makeBlock">COUNTRY </li>
                </ul>
            </div>
        </div>
        <br>
        <div class="contact-telephone">
            <div class="contact-row-left"><i class="fas fa-phone-square-alt"></i></div>
            <div class="contact-row-right">
                <ul class="makeInline">
                    <li class="makeInline">+43 0000000 </li>
                </ul>
            </div>
        </div>
        <div class="contact-email">
            <div class="contact-row-left"><i class="fas fa-envelope-square"></i></div>
            <div class="contact-row-right">
                <ul class="makeInline">
                    <li class="makeInline">email@emailhoster.tld (Block by spam bot) </li>
                </ul>
            </div>
        </div>
        <div class="contact-website">
            <div class="contact-row-left"><i class="fas fa-globe-americas"></i></div>
            <div class="contact-row-right">
                <ul class="makeInline">
                    <li class="makeInline">www.theconsultingcompany.tld </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<br>
<br>